* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#maxLoadingAnimation {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#maxLoadingBar {
  height: 8px;
  background: #9600aa;
  position: absolute;
  top: 0;
  left: 0;
  animation: animateLoadingBar 4s 0.3s forwards;
}

@keyframes animateLoadingBar {
  0% {
    width: 5%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 10%;
  }
  70% {
    width: 65%;
  }
  86% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}
