* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f0060;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a002b;
}

.max-main-container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

#maxLoadingAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  animation: animateLoadingHide 15.3s forwards;
}

#maxLoadingBar {
  height: 8px;
  background: #9600aa;
  position: absolute;
  top: 0;
  left: 0;
  animation: animateLoadingBar 4s 0.3s forwards;
}

section {
  scroll-snap-align: center;
  width: 100vw;
  height: 100vh;
}

.max-intro-section {
  background-color: rgb(142, 219, 255);
}

.max-stats-section {
  background-color: rgb(142, 255, 199);
}

.max-projects-section {
  background-color: rgb(142, 219, 255);
}

.max-contact-section {
  background-color: rgb(142, 255, 202);
}

@keyframes animateLoadingBar {
  0% {
    width: 5%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 10%;
  }
  70% {
    width: 65%;
  }
  86% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

@keyframes animateLoadingHide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
